<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="playground.css">
    <title>Document</title>
</head>

<body>
    <section class="flex-layout">
        <div class="layout-item"></div>
        <div class="layout-item">弹性盒布局，兼容性问题</div>
        <div class="layout-item"></div>
    </section>
    <section class="float-layout">
        <div class="layout-item"></div>
        <div class="layout-item"></div>
        <div class="layout-item">浮动布局，兼容性好，但是需要做清除浮动等操作</div>
    </section>
    <section class="position-layout">
        <div class="layout-item"></div>
        <div class="layout-item">定位布局,兼容性好，简单，但对文档布局有影响</div>
        <div class="layout-item"></div>
    </section>
    <section class="table-layout">
        <div class="layout-item"></div>
        <div class="layout-item">表格布局,经典布局，兼容性好，使用较复杂，且高度会互相影响</div>
        <div class="layout-item"></div>
    </section>
    <section class="grid-layout">
        <div class="layout-item"></div>
        <div class="layout-item">网格布局，css3的新特性，使用灵活简单，兼容性问题</div>
        <div class="layout-item"></div>
    </section>
</body>

</html>